<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Civil Society</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Lustria|Open+Sans:400,800,400italic,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/frontend/css/bootstrap_forsite.css">
    <link rel="stylesheet" href="/static/frontend/css/slicknav.css">
    <link rel="stylesheet" href="/static/frontend/css/main.css">
    <script src="/static/frontend/js/vendor/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="/static/js/customjs.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
{% load i18n %}
    
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="login-logo">
        <a href="/"><img src="/static/frontend/img/mobile-logo.jpg" alt="Home" /></a>
    </div>
    <div class="login-div">
        <div class="clearfix pos-rel">

            <div class="forgot_div">
                                <ul>
                                    <li>
                                    <h3>{% trans 'Password reset successful' %}</h3>
                                    </li>
                                    <li>
                                    <p>{% trans "You can now login to your account and make a difference. <a href='/login/'>Click here</a> to login" %}</p></li>
                                    </li>
                                </ul>
                            </form>

                        </div>
            </div>
    </div>
</body>
</html>

