<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Civil Society</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Lustria|Open+Sans:400,800,400italic,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/frontend/css/bootstrap_forsite.css">
    <link rel="stylesheet" href="/static/frontend/css/slicknav.css">
    <link rel="stylesheet" href="/static/frontend/css/main.css">
    <script src="/static/frontend/js/vendor/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="/static/js/customjs.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
    {% load i18n %}

<script type="text/javascript" src="/static/js/customjs.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
</head>

<body>


<script type="text/javascript">
	    $(document).ready(function(){
	        $.validator.addMethod("confirmpassword", function(value, element) {
				    var pwd = $("#id_new_password1").val();
				    return pwd == value},
				"password and re-enter password do not match");
			$("#form").validate({
			rules :
			{
			    new_password1 : { required : true,minlength:6},
			    new_password2 : {required : true,confirmpassword : true},
			}
		    });

	    });
</script>


    <div class="login-logo">
        <a href="/"><img src="/static/frontend/img/mobile-logo.jpg" alt="Home" /></a>
    </div>
    <div class="login-div">
        <div class="clearfix pos-rel">
        <div class="forgot_div">
                {% if validlink %}
<!--                    <h3>{% trans 'Enter new password' %}</h3>-->
<!--                    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>-->
                    <form action="" method="post" id="form">{% csrf_token %}
                    <input type="hidden" name="form" value="signup">
                        
                        <ul>
                        <li>{{ form.new_password1.errors }}</li>
                        <li>
                        <input id="id_new_password1" name="new_password1" type="password" placeholder="New Password" class="input_type" required/></li>
                        <li>
                        
                        <input id="id_new_password2" name="new_password2" type="password"  placeholder="Confirm Password" class="input_type" required/>
                        </li>
                        <li><strong>{{ form.new_password2.errors }}</strong></li>
                        
                        <li><input type="submit" value="{% trans 'Change my password' %}" class="login-btn" /></li>
                        </ul>
                    </form>
                    {% else %}
                    <h3>{% trans 'Password reset unsuccessful' %}</h3>
                    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                    {% endif %}
        </div>
        </div>
        </div>

</body>
</html>
