{% extends "home.html" %} 
{% block title %} 500 {% endblock %}
{% block breadcum %} {% endblock %}

{% load front_tags %}
{% block banner %}

 {% endblock %}
{% block left %}
<article class="col-lg-9 col-sm-9 col-xs-12">
        <div class="row">
          <div class="left_con">
                <h2>500 : Internal Server Error</h2>
                <a href="/"><img src="/static/frontend/img/error-404.png" alt="500"/></a>
          <div>

		</div>
        <!-- Content Pad ends -->        

	 </article>
	<!-- Container ends -->


{% endblock %}
{% block right %}
{% endblock %}
