{% extends "home.html" %}
{% block title %}Bookshop - {% endblock %}
{% block breadcum %}
<section class="breadcum_sec">
  <div class="container">
    <div class="row">
    <div class="breadcum">
      <ul>
        <li class="breadcum_sel"><a href="/">Home</a></li>
        
        <li><a href="#">Bookshop</a></li>
      </ul>
    </div>
    </div>
  </div>
</section>
{% endblock %}

{% block banner %}
 {% endblock %}

{% block left %}
<section class="info-content">
    <div class="container">
    <div class="container_border">
        <div class="col-md-6 " align="center" >
        <!-- <div class="row"> -->
            <a href ="/subscribe/water-catchers/"> <img src="/static/img/the-water-catchers.jpg"></a>
            <br/>


        </div>

        <div class="col-md-6 ">

			<a href ="/subscribe/hindi/water-catchers/"> <img src="/static/img/HINDI-COVER.png"> </a>

        </div>
<!--         </div> -->    

     </div>
    </div>    
</section>

{% endblock %}


{% block right %}{% endblock %}

