{% extends "base.html" %}
{% load front_tags %}
{% block title %}Subscribe - {% endblock %}
{% block banner %}{% endblock %}
{% block breadcum %}


{% endblock %}
{% block script %}
<link href="/static/new-subscribe/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/new-subscribe/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">  
{% endblock %}

{% block left%}
<div class="row">
    <div class="container">
        <div class="row">
            <div class="subscribetext1">
                Subscribe now and discover a new India
            </div>
        </div>
        <div class="row">
            <div class="subscribetext2">
                <!-- Choose your subscription to <span class="note">Civil Society</span> magazine -->
                Support the  <span class="note">Civil Society Public Health Initiative</span>
            </div>
        </div>
        <div class="col-md-4 " align="center">
            <div class="optionbox"> 
             <div class="yeartext1">One Year </br>Print+Digital</div>
             <div class="imagebox1"><img src="/static/new-subscribe/images/new_subscriber_2025.jpg"></div>
             <div class="countrytext1">INDIA</div>
             <!-- <div class="basicbox1">  
             <div class="redpricebtn1"><a href="/subscribe/?sub=ind-5">Individual: Rs 1200</a></div>
             </div> -->
             <div class="redpricebtn1"><a href="/subscribe/?sub=ind-6">RS: Rs 2000</a></div>
             <div class="countrytext1">INTERNATIONAL</div>
             <div class="redpricebtn1"><a href="/subscribe/?sub=int-2">$ 50</a></div>
            </div>   
        </div>

        <div class="col-md-4 " align="center">
            <div class="optionbox"> 
             <div class="yeartext1">One Year  </br>Immersive School Program</div>
             <div class="imagebox1"><img src="/static/new-subscribe/images/new_subscriber_2025.jpg"></div>
             <div class="countrytext1">INDIA</div>
             <div class="redpricebtn1"><a href="/subscribe/?sub=ind-2">Rs 3000</a></div>
<!--             <div class="countrytext1">INTERNATIONAL</div>-->
<!--             <div class="redpricebtn1"><a href="/subscribe/?sub=int-3">$ 50</a></div>-->
             <div class="countrytext1">&nbsp;</div>
             <div >&nbsp;</div>
            </div>   
        </div>

        <div class="col-md-4 " align="center">
            <div class="optionbox"> 
             <div class="yeartext1">Become a 
             </br>
             special donor</div>
             <div class="imagebox1"><img src="/static/new-subscribe/images/new_subscriber_2025.jpg"></div>
             <div class="basicbox1" style="margin-top:15px;">
             <div class="redpricebtn1"><a href="/subscribe/?sub=ind-8">Rs 10,000</a></div>
             </div>
             <div class="redpricebtn1"><a href="/subscribe/?sub=ind-10">Rs 25,000</a></div>
             <br/>
             <div class="redpricebtn1"><a href="/subscribe/?sub=ind-11">Rs 1,00,000</a></div>
             </div>
             <!-- <div class="countrytext1">FREE : A copy of Civil Society’s 
coffee table book <span style="font-style: italic; font-waight:800;">Inventive Indians</span></div> -->
            </div> 
        
          
        </div>
        
        
    </div>
</div>
{% endblock %}
{% block right %}
{% endblock %}
