<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Civil Society</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='https://fonts.googleapis.com/css?family=Lustria|Open+Sans:400,800,400italic,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/frontend/css/bootstrap_forsite.css">
    <link rel="stylesheet" href="/static/frontend/css/slicknav.css">
    <link rel="stylesheet" href="/static/frontend/css/main.css">

</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="login-logo">
        <a href="/"><img src="/static/frontend/img/mobile-logo.jpg" alt="Home" /></a>
    </div>
    <div class="login-div">
        <div class="clearfix pos-rel">

            <div class="forgot_div">
                            <form action="." method="post" id="form">{% csrf_token %}
                                <ul>
                                    <li><p>Use the below form to change the password.</p>
                                     </li>
                                    <li>
                                    <input type="password" id="id_password" placeholder="New Password" name="password" class="input_type" required/>
                                    </li>
                                    <li></li>
                                    <li>
                                    <input type="password" id="id_new_password" placeholder="Re-Enter New Password" name="new-password" class="input_type" required/>
                                    </li>
                                    <li>
                                        <input type="submit" value="Change My password" class="login-btn" id="submit"/>
                                    </li>
                                    <li>
                                    </li>
                                </ul>
                            </form>

                        </div>
            </div>
    </div>

<script>
        window.jQuery || document.write('<script src="https://www.civilsocietyonline.com/static/frontend/js/vendor/jquery-1.10.2.min.js"><\/script>')
    </script>
    <script src="https://www.civilsocietyonline.com/static/frontend/js/bootstrap.min.js"></script>
    <script src="https://www.civilsocietyonline.com/static/frontend/js/plugins.js"></script>
    <script src="https://www.civilsocietyonline.com/static/frontend/js/jquery.slicknav.min.js"></script>
    <script src="https://www.civilsocietyonline.com/static/frontend/js/main.js"></script>
<script type="text/javascript">
	    $(document).ready(function(){
			$('#submit').click(function(event){
        
                data = $('#id_password').val();
                var len = data.length;
                
                if(len < 1) {
                    alert("Password cannot be blank");
                    // Prevent form submission
                    event.preventDefault();
                }
                 
                if($('#id_password').val() != $('#id_new_password').val()) {
                    alert("Password and Confirm Password don't match");
                    // Prevent form submission
                    event.preventDefault();
                }
                 
            });
	    });
</script>
</body>
</html>
<!--    <script t'hi'ype="text/javascript" src="/static/js/customjs.js"></script>-->
<!--<script type="text/javascript" src="/static/js/jquery.validate.js"></script>-->
<!--<script type="text/javascript">-->
<!--	    $(document).ready(function(){-->
<!--			$("#form").validate({-->
<!--			rules :-->
<!--			{-->
<!--			    email : { email : true, required : true,maxlength:60},-->
<!--			}-->
<!--		    });-->

<!--	    });-->
<!--</script>-->
<!--<section class="comm_sect">-->
<!--    <div class="container" style="height:590px">-->
<!--        <section class="tab_title">-->
<!--        </section>-->
<!--        <section class="section5">-->
<!--            <aside class="widget1">-->
<!--                <div class="widget1_outer">-->
<!--                    <div class="select_accountblock bshadow">-->
<!--                        <h3>Password reset</h3>-->
<!--                        -->
<!--                        <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>-->
<!--                        <form action="" method="post" id="form">{% csrf_token %}-->
<!--                            <p><label for="id_email">E-mail address:</label>-->
<!--                            <input id="id_email" maxlength="254" name="email" type="text" style="width:154px;position: absolute;" > -->
<!--                            <h3>{{ form.email.errors }}</h3>-->
<!--                            <input class="submit_btn fl" type="submit" value="Reset my password"/></p>-->
<!--                        </form>-->
<!--                  </div>-->
<!--                </div>-->
<!--            </aside>-->
<!--        </section>-->
<!--    </div>-->
<!--<!--</section>-->-->

