<html>
<head>
	<title>Sub-merchant checkout page</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<form id="nonseamless" method="POST" name="redirect" action="https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction">{% csrf_token %} 
		<input type="hidden" id="encRequest" name="encRequest" value="{{encryption}}">
		<input type="hidden" name="access_code" id="access_code" value="{{access_code}}">
                <input type="hidden" name="language" value="{{language}}">
		<script language='javascript'>document.redirect.submit();</script>

</form>    
</body>
</html>
