<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Civil Society</title>
<style>
    .clear{clear:both;}
</style>
</head>

<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; color:#484747; line-height:18px;">
<table width="620" border="0" cellspacing="0" cellpadding="0" style="border:2px solid #F95258;" align="center">
  <tr height="65">
    <td style="border-bottom:1px solid #e4e3e3; padding:5px;"><a href="http://www.civilsocietyonline.com">
    <img src="http://www.civilsocietyonline.com/static/frontend/img/civil_society_logo.png" width="150" alt="img"/></a></td>
  </tr>
    <tr height="30">
    <td>&nbsp;</td>
  </tr>
  
  <tr>
  <td style="padding:0 30px;">
    <p style="margin:20px 0 0">Thank you for subscribing to Civil Society and supporting independent journalism.</p>
    <p style="margin:20px 0 0">Civil Society is a monthly magazine, which is available in print and on the internet.</p>
    <p style="margin:20px 0 0">As a subscriber to the PRINT + DIGITAL versions you will have full access to our website, emailers and updates.</p>
    <p style="margin:20px 0 0">If you have opted for only the DIGITAL version, you will have access only to our website.</p>
    <p style="margin:20px 0 0">The print version reaches subscribers by post. Expect it to reach your home or office within the 15th of every month. </p>
    <p style="margin:20px 0 0">Mailing of the print version takes place from Delhi on the 3rd and 4th of every month and the postal department takes about 10 days to deliver across the country.</p>
    <p style="margin:20px 0 0">There are 11 issues of the magazine in the year — September-October being a single double issue to mark our anniversary each year.</p>
    <p style="margin:20px 0 0">We welcome you into our family of readers.</p>
    <p style="margin:20px 0 0">Umesh Anand,<br/>Publisher.</p>
  </td>
  </tr>
  <tr>
  </tr>
</table>

</body>
</html>
