{% extends "manage/base.html" %}
{% block title %}Manage {{formname}}{% endblock %}

{% block rightcontent %}
{{form.media}}
<script>
    $(document).ready(function(){
        $('input').addClass('input_style');
        $('label').addClass('new_label');
    });

</script>
<script type="text/javascript" src="/static/manage/js/jquery.datetimepicker.js"> </script>
<link href="/static/manage/css/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,900' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/static/manage/js/jquery.validate.js"></script>
<link href="/static/css/multi-select.css" rel='stylesheet'>
<script type="text/javascript">
    $(document).ready(function(){
        $("#job_form").validate({
            rules :
            {
                name : {required : true,maxlength:100},
            },
        });
    });
</script>
<script type="text/javascript">
    	$(document).ready(function(){
	    $('#id_date').datetimepicker({format:'Y-m-d',});
    });

</script>
    <div id="content" class="col-lg-10 col-sm-10" style="width:100%">
        <!-- content starts -->
        <div>
            <ul class="breadcrumb">
                <li>
                    <a href="/home/">Home</a>
                </li>
                <li>
                    {% if edit %}Edit{% else %}Add{% endif %} {{modelname}}
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-edit"></i>{% if edit %}Edit{% else %}Add{% endif %} {{modelname}}</h2>
                    </div>

                    <div class="box-content">
                        {% if edit %}
                            <form id="job_form" action = "#" method = "post" enctype="multipart/form-data">{% csrf_token %}
                        {% else %}
                            <form id="job_form" action = "#" enctype="multipart/form-data" method = "post">
                            {% csrf_token %}
                        {% endif %}
                        {% if error %}<p style="color:red"><b>{{error}}</b></p>{% endif %}
                        {% for field in form %}
                        <div class="form-group1" id="{{field.name}}_id">
                            {{ field.label_tag }}
                            {{ field }}
                            <p style="color:red">{% if field.errors %}{{ field.errors|striptags }}{% endif %}</p>
                        </div>
                        {% endfor %}
                            <button type="submit" class="btn btn-default mybtn">{% if edit %}Save Changes{% else %}Save{% endif %}</button>
                            <a href="/manage/?key={{key}}" style="text-decoration:none;"><button type="button" class="btn btn-default">Cancel</button> </a>
                        </form>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div><!--/row-->
    </div>
{% endblock %}
