
{% extends "manage/base.html" %}

{% block title %}Change Password{% endblock %}


{% block rightcontent %}

<script>
    $(document).ready(function(){
        $('input').addClass('input_style');
        $('label').addClass('new_label');
    });

</script>
<style>
.error{color:red; min-width: 200px;}
</style>

<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $.validator.addMethod("confirmpassword", function(value, element) {
                var pwd = $("#id_password1").val();
                return pwd == value},
                "password and re-enter password do not match");
        $("#change_form").validate({
            rules : {
                new_pwd : { required : true },
                chg_pwd : { required : true ,confirmpassword : true},
            },
            messages : {
                chg_pwd : { confirmpassword : 'New Password and Confirm Password Should be same'},
            },
        });
    });
</script>
    <div id="content" class="col-lg-10 col-sm-10" style="width:100%">
        <!-- content starts -->
        <div>
            <ul class="breadcrumb">
                <li>
                    <a href="/home/">Home</a>
                </li>
                <li>
                    Change Password
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-edit"></i>Change Password</h2>
                    </div>
                    <div class="box-content">
                        <form id="change_form" action = "/manage-section/change-password/?pk={{pk}}" method = "post" enctype="multipart/form-data">{% csrf_token %}
                        {% if error %}<p style="color:red"><b>{{error}}</b></p>{% endif %}
                        <div class="form-group1">
                            <label class="new_label" for="new_pwd">New password</label>
                            <input class="input_style" type="password" value="" name="new_pwd" id="id_password1" />
                        </div>
                        <div class="form-group1">
                            <label class="new_label" for="con_pwd">Confirm password:</label>
                            <input class="input_style" type="password" value="" name="chg_pwd" id="pwdcompare" />
                        </div>
                        <button type="submit" class="btn btn-default mybtn">Change</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div><!--/row-->
    </div>
{% endblock %}
