{% extends "manage/base.html" %}
{% load wsf_tags %}
{% block title %}Menu{% endblock %}

{% block rightcontent %}


<script type="text/javascript" src="/static/manage/js/jquery.multi-select.js"> </script>
<script type="text/javascript" src="/static/manage/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/manage/js/jquery-te-1.4.0.min.js" charset="utf-8"></script>
<link type="text/css" rel="stylesheet" href="/static/manage/css/jquery-te-1.4.0.css">
<link href="/static/manage/css/multi-select.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/static/js/jquery.multi-select.js"> </script>
<link href="/static/css/multi-select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function(){
        $("#menu_form").validate({
                rules : {
                    name : { required : true},
                    //parent : { required : true},
                },
                messages : {
                    name : { required : "Please enter the menu name "},
                    //parent : { required : "Select Sub Menu"},
                }
            });
    });
</script>
<style>
.error{color:red; min-width: 200px;}
</style>


    <div id="content" class="col-lg-10 col-sm-10" style="width:100%">
        <!-- content starts -->
        <div>
            <ul class="breadcrumb">
                <li>
                    <a href="/home/">Home</a>
                </li>
                <li>Menu</li>
            </ul>
        </div>

    {% if task == 'list' %}
        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon"></i>Menu</h2>

                        <div class="box-icon">
                            <a href="/menu-management/menu/add/" class="btn btn-round btn-default">
                                <i class="glyphicon glyphicon-plus-sign" title="Add Menu">Add Menu</i>
                            </a>
                            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                        </div>
                    </div>
                    
                    <div class="box-content">
                        {% if item_list %}
                            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for menu in item_list %}
                                        <tr>
                                            <td class="center">{{ menu.name }}</td>
                                            <td class="center">
                                                {% if menu.active %}
                                                    <span class="label-success label label-default">Active</span>
                                                {% else %}
                                                    <span class="label-default label">Inactive</span>
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                <a class="btn btn-info" href="/menu-management/menu/edit/?objid={{menu.id}}">
                                                    <i class="glyphicon glyphicon-edit icon-white"></i>
                                                    Edit
                                                </a>
                                                {% if menu.active %}
                                                <a class="btn btn-danger" href="/menu-management/menu/delete/?objid={{menu.id}}">
                                                    <i class="glyphicon glyphicon-remove icon-white"></i>
                                                    Deactivate
                                                </a>
                                                {% else %}
                                                <a class="btn btn-success" href="/menu-management/menu/active/?objid={{menu.id}}">
                                                    <i class="glyphicon glyphicon-ok icon-white"></i>
                                                    Activate
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        
                        {% else %}
                            <div class="alert alert-info">
                                No Records found.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% if task == 'add' or task == 'edit' %}

    <div class="box-content">

        {% if task == 'add' %}
            <form id="menu_form" action="/menu-management/menu/add/" method = "post">{% csrf_token %}
        {% else %}
            <form id="menu_form" action="/menu-management/menu/edit/?objid={{ objid }}" method = "post">{% csrf_token %}
        {% endif %}
        {% if error %}<p style="color:red"><b>{{error}}</b></p>{% endif %}
        {% for field in form %}
            <div class="input-group col-md-4">
                {{ field.label_tag }}
                 <br/>
                {{ field }}
                <p style="color:red">{% if field.errors %}{{ field.errors|striptags }}{% endif %}</p>
            </div>
        {% endfor %}
            <br>
            <button type="submit" class="btn btn-default">{% if edit %}Update{% else %}Submit{% endif %}</button>
        </form>
    </div>
    </div>
    </div>
<!--/span-->
    </div><!--/row-->
    </div>
    {% endif %}
{% endblock %}
